.containerabout {
  
  align-items: center;
  width: 400px;
  height: 450px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: bisque;
  color: rgb(62, 70, 175);
}

.containerabout img {
  width: 90px;
  height: 120px;
  position: relative;
  border-radius: 20px;
}
