
.nav {
  position: absolute;
  left: 15%;
  transform: translatex(-50%);
  border-radius: 10px;
  border-color: blue;
  margin-top:20px;

  color: black;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-text-stroke-width: thick;
  inline-size: auto;
}
