.container {
  width: 400px;
  height: 300px;
  border: solid 1px black;
  display: inline-table;
  margin: 20px 20px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-top: revert;
}
.container img {
  width: 90px;
  height: 120px;
  position: relative;
  top: 20px;
  left: 150px;
}

.button {
  background-color: #2b70fc;
  border-radius: 10px;
  color: white;
  font-size: larger;
  text-underline-position: under;
  float: right;
  margin: inherit;
}

.header {
  text-align-last: center;
  margin-top: 50px;
}
